{% extends 'DLauritzForumPagesBundle::pagelayout.html.twig' %}

{% block title %}Credits{% endblock %}

{% block content %}
<div class="page-header">
	<h1>
		Credits
		<small>All the big people</small>
	</h1>
</div>

<h3>Libraries and Frameworks</h3>
<p>This site was built on the 
	<a href="http://www.symfony.com/" title="Symfony PHP Framework">Symfony</a> PHP framework with 
	<a href="http://twitter.github.com/bootstrap/index.html" title="Twitter Bootstrap">Bootstrap</a> 
	manning the layout. The icons are provided through Bootstrap's agreement with 
	<a href="http://glyphicons.com/" title="Glyphicons.com">Glyphicons.com</a>. 
	See the <a href="{{ path('legal') }}">Legal</a> information page to see their licensing information.</p>

{% endblock %}
