{% extends 'DLauritzForumPagesBundle::pagelayout.html.twig' %}

{% block title %}Legal{% endblock %}

{% block content %}
<div class="page-header">
	<h1>
		Legal
		<small>Licensing and Copyright Information</small>
	</h1>
</div>

{% endblock %}
