{% extends '::base.html.twig' %}

{# 
	This layout is meant for special non-content pages like help, credits, about, etc.
	It's pretty empty.
#}

{% block body %}

{# Content goes here #}
<div class="row">
	<div class="span10 offset1">
{% block content %}{% endblock %}
	</div>
</div>

{% endblock %}
