{% if bootstrap %}
<select name="timezone" id="timezone">
	<option value="--">Select your timezone</option>

	<option value="Pacific/Honolulu">GMT -10:00 (Honolulu)</option>
	<option value="America/Anchorage">GMT -9:00 DST (Anchorage)</option>
	<option value="America/Vancouver">GMT -8:00 DST (Vancouver)</option>
	<option value="America/Los_Angeles">GMT -8:00 DST (Los Angeles)</option>
	<option value="America/Boise">GMT -7:00 DST (Boise)</option>
	<option value="America/Phoenix">GMT -7:00 (Phoenix)</option>
</select>
{% endif %}