/* 
    Document   : style
    Created on : Apr 6, 2012, 8:23:49 PM
    Author     : dallinlauritzen
    Description:
        Purpose of the stylesheet follows.
*/

body {
	/* This accounts for Bootstrap's fixed navbar. */
	padding-top: 50px;
	padding-bottom: 50px; /* Just for fun */
}

.left { text-align: left; }
.right { text-align: right; }
.middle { vertical-align: middle; } /* -8px */
.center { text-align: center; }

.navimg {
	margin-top: -2px;
}

.navtext {
	float:none;
	padding:10px 10px 11px;
	line-height:19px;
	color:#999999;
	text-decoration:none;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
}

.widelink {
	display: block;
	width: 100%;
}

.forum-label {
	font-size: large;
}

.thread-label {
	font-size: large;
}

#bottom_links li {
	display: inline;
	padding-right: 10px;
}

#license {
	text-align: right;
	font-size: small;
}

#footer img {
	vertical-align: text-top;
}

