{% extends 'DLauritzForumContentBundle::indexlayout.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
<div class="row">
	<div class="span12">
{% include 'DLauritzForumContentBundle:Index:breadcrumb.html.twig' with { 'category': category, 'first': true } %}
	</div>
</div>

<div class="row">
	<div class="span12">
		<h2>{{ category.name }} <small>{{ category.description|truncate(100) }}</small></h2>
	</div>
</div>

{% for forum in category.forums %}
{% include 'DLauritzForumContentBundle:Forum:single.html.twig' with {'forum': forum} %}
{% else %}
<div class="row">
	<div class="span12 center">
		<em>No Forums</em>
	</div>
</div>
{% endfor %}

{% endblock %}
