{% extends 'DLauritzForumContentBundle::pagelayout.html.twig' %}

{% block title %}Credits{% endblock %}

{% block content %}

<div class="row">
	<div class="span10 offset1">
		<h1>Credits</h1>
		<p>This page lists the people and software that were crucial to getting this thing going.</p>

		<h3>Libraries and Frameworks</h3>
		<p>This site was built on the 
		<a href="http://www.symfony.com/" title="Symfony PHP Framework">Symfony</a> PHP framework with 
		<a href="http://twitter.github.com/bootstrap/index.html" title="Twitter Bootstrap">Bootstrap</a> 
		manning the layout. The icons are provided through Bootstrap's agreement with 
		<a href="http://glyphicons.com/" title="Glyphicons.com">Glyphicons.com</a>.</p>

	</div>
</div>

{% endblock %}
