{% extends 'DLauritzForumContentBundle::indexlayout.html.twig' %}

{% block title %}Search for "{{ query }}"{% endblock %}

{% block content %}

<div class="row">
	<div class="span12">
		<div class="page-header">
			<h2>Search: "{{ query }}"</h2>
		</div>
	</div>
</div>

{% endblock %}
